body {
    background-color: rgb(35, 35, 35);
    color: wheat
}

.notification {
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    color: gray;
    text-align: center;

}

.success {
    background-color: green
}

.error {
    background-color: red
}